.gradient-text {
  background: linear-gradient(to right, hsl(310, 67%, 54%), hsl(318, 97%, 51%) , #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

*{
   max-width: 1440px;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  background: #1A0B2E;
  padding: 16px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

.btn-gradient {
  padding: 10px 22px;
  border-radius: 30px;
  background: linear-gradient(135deg, #F7E93F, #FB09B4,#9100F8);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  display: flex;
   gap: 2px;

}

    


.btn-gradient:hover ,.btn-outline:hover , .circle-img {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(127, 92, 255, 0.4);

}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}


.hero {
 
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.hero-content {
  max-width: 700px;
  color: #fff;
}



.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  top: -3rem;
}

.circle-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  transform: translate(-50%, -50%);
}

.corner-text {
  position: absolute;
  top: 30px;
  right: 10px;   
  background: #00ff88;
  color: #000000;
  padding: 4px 9px;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 4px 10px #00ff88 ;
  font-weight: 600;
}
.hero-text{
  position: relative;
  top: -40px;
}


.podcast-circle {
  width: 180px;
  height: 180px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: radial-gradient(circle, #7f5cff, #0b0f19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
}



.hero h2 {
  font-size: 38px;
  margin-bottom: 16px;
}

.hero-text {
  color: #cbd5e1;
  margin-bottom: 28px;
}

.hero-buttons {
  display: flex;
 
}

.btn-outline {
  position: relative;
  right: 70px;
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #7f5cff;
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero-circle{
  position: absolute;
  top: 40 px;
  right: -180px;

}
.microphone{
  position: inherit;
  right: -85px;
   
}
.circle-badge {
  position: absolute;
  top: -3.125rem;
  right: -9.5px;
  color: black;
  background: #1ccf16;
  box-shadow: #1ccf16;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 12px;
}



.about {
  padding: 80px 20px;
   background: #230E3D;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.about h3 {
  font-size: 32px;
  color: #fff;
}

.section-desc {
  max-width: 600px;
  margin: 16px auto 40px;
  color: #94a3b8;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.stat {
  
  padding: 5px;
  border-radius: 16px;
  height: 180px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.stat h4 {
  margin-top: 15px;
  margin-bottom: 4px;
  font-size: 4rem;
  font-weight: 900;
  color: #00FF88;
}
.stat p {
  color: #94a3b8;
}


.why {
  padding: 80px 20px;
  background: #020617;
  text-align: center;
}

.why h3 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 40px;
}


.premium1{
  grid-area: premium1;
}
.premium2{
  grid-area: premium2;
}
.premium3{
  grid-area: premium3;
}
.premium4{
  grid-area: premium4;
}
.premium5{
  grid-area: premium5;
}
.features {
  display: grid;
  gap: 5px;
  grid-template-areas:
  "premium1 premium2 premium2"
  "premium1 premium3 premium3"
  "premium4 premium4 premium5" ;
}

.feature-card {
  margin-top: 2px;
  margin-bottom: 10px;
  width: 90%;
  background: rgba(53, 17, 101, 0.4);
  padding: 15px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-card h4 {
  color: #fff;
  margin-bottom: 10px;
}

.feature-card p {
  color: #94a3b8;
}





.episodes {
  padding: 80px 20px;
  background: #1A0B2E;
  text-align: center;
}

.episodes h3 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 45px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.episode-card {
  background: #020617;
  padding: 24px;
  border-radius: 16px;
  text-align: left;
  transition: transform 0.3s ease;
}

.episode-card:hover {
  transform: translateY(-6px);
}

.video-box {
  height: 160px;
  background: #1e293b;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
  margin-bottom: 16px;
}

.episode-card h4 {
  color: #fff;
  margin-bottom: 8px;
}

.episode-card p {
  color: #94a3b8;
  margin-bottom: 12px;
}

.duration {
  color: #5aff5a;
  font-weight: 600;
  font-size: 15px;
}
.duration img{
  width: 12px;
}


.host {
  padding: 80px 20px;
  background: #1A0B2E;
  
}
.host h3{
  display: flex;
  justify-content: center;
  color: #ffffff;
  font: 600;
  font-size: 3.75rem;
}
.host-wrapper {
  display: flex;
  margin-left: 100px;
  align-items: center;
  gap: 40px;
  background-color: #2f1c49;
  border-radius: 25px;
}

.host-image img {
  width: 250px;
  border-radius: 20px;
  margin: 30px;
}

.host-content{
  
  margin-right: 100px;
}
.host-content h3 {
  color: #fff;
 
  background-color: #351165;
}

.host-content h4 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 16px;

}

.host-content p {
  color: #94a3b8;
  margin-bottom: 20px;
}

.social-icons {
  
  gap: 15px;
}

.social-icons span {
  padding: 8px ;
  background: #533C72;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
}  

.footer {
  padding: 40px 20px;
  background: url("../assets/footer-bg.png") center/cover no-repeat;
  
  text-align: center;
}

.footer h3 {
  color: #fff;
  margin-bottom: 8px;
}

.footer p {
  color: #94a3b8;
  font-size: 14px;
}

.footer hr {
  border: none;
  height: 1px;
  background: #1e293b;
  margin: 20px 0;
}

.footer-icons span {
  padding: 10px ;
  gap: 8px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}  
.footer-icons img{
  width:15px;
}









@media (max-width: 576px) {
  .hamburger {
    display: flex;
  }
 
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #0b0f19;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .nav-btn {
    display: none;
  }
  .button-wrapper {
  display: flex;
  gap: 20px;
}
.navbar{
  padding-bottom: 120px;
  
}
.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: currentColor;
}
}

@media (max-width: 576px) {
  .hero h2 {
    font-size: 28px;
  }
 
}
@media (max-width: 576px) {
  .stats {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .stat{
    width: 80%;
  }
  .stat h4{
    font-size: 40px;
  }
  
}
@media (max-width: 576px) {
  .features {
    
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .episode-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .host-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    
  }
  .host-content{
  
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  }
  .host-image img {
    width: 220px;

  }

  .social-icons {
    justify-content: center;
  }
  .footer-icons{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: space-around;
  }
}


